<section class="text-gray-600 body-font" *ngIf="nft">
  <div class="max-w-5xl pt-52 pb-24 mx-auto">
    <h1
      class="
        text-80 text-center
        font-4
        lh-6
        ld-04
        font-bold
        title-font
        text-white
        mb-6
      "
    >
      {{ nft.title }}
    </h1>
    <h2
      class="
        text-3xl text-center
        font-4
        lh-6
        ld-04
        font-bold
        title-font
        text-white
        mb-6
      "
      *ngIf="nft.subtitle"
    >
      {{ nft.subtitle }}
    </h2>
    <h2
      class="
        text-2xl
        font-4
        lh-6
        ld-04
        title-font
        pb-11
        text-gray-700 text-center
      "
    >
      <span *ngFor="let subtitle of nft.subtitles; let last = last">
        {{ subtitle }}
        <br *ngIf="!last" />
      </span>
    </h2>
    <div class="text-center">
      <a
        class="
          inline-flex
          items-center
          py-3
          font-semibold
          tracking-tighter
          text-white
          transition
          duration-500
          ease-in-out
          transform
          bg-transparent bg-gradient-to-r
          from-blue-500
          to-blue-800
          px-14
          text-md
          md:mt-0
          focus:shadow-outline
        "
        href="{{ nft.links.opensea.href }}"
      >
        <div class="flex text-lg">
          <span class="justify-center">{{ nft.links.opensea.label }}</span>
        </div>
      </a>
    </div>
  </div>
  <div class="container flex flex-col items-center justify-center mx-auto">
    <img
      class="object-cover object-center w-3/4 mb-10 border shadow-md g327"
      alt="{{ nft.images.hero.alt }}"
      src="assets/img/{{ nft.images.hero.file }}"
    />
  </div>
  <span *ngFor="let section of nft.sections">
    <h2
      class="
        pt-40
        mb-1
        text-2xl
        font-semibold
        tracking-tighter
        text-center text-gray-200
        lg:text-7xl
        md:text-6xl
      "
    >
      {{ section.title }}
    </h2>
    <br />
    <p
      class="
        mx-auto
        text-xl text-center text-gray-300
        font-normal
        leading-relaxed
        fs521
        lg:w-2/3
      "
    >
      {{ section.subtitle }}
    </p>
    <div
      class="pt-12 pb-24 max-w-4xl mx-auto fsac4 md:px-1 px-3"
      *ngIf="section.cards.length > 0"
    >
      <div class="ktq4" *ngFor="let card of section.cards">
        <!-- <img class="w-10" src="https://nine4.app/favicon.png" /> -->
        <h3 class="pt-3 font-semibold text-lg text-white">
          {{ card.title }}
        </h3>
        <p class="pt-2 value-text text-md text-gray-200 fkrr1">
          {{ card.subtitle }}
        </p>
        <p class="pt-2 value-text text-md text-gray-200 fkrr1 italic">
          {{ card.description }}
        </p>
      </div>
    </div>
  </span>
  <div
    class="pt-32 pb-32 max-w-6xl mx-auto fsac4 md:px-1 px-3"
    *ngIf="nft.imgSectionCards.length > 0"
  >
    <div class="ktq4" *ngFor="let imageSectionCard of nft.imgSectionCards">
      <img src="assets/img/{{ imageSectionCard.img }}" />
      <h3 class="pt-3 font-semibold text-lg text-white">
        {{ imageSectionCard.title }}
      </h3>
      <p class="pt-2 value-text text-md text-gray-200 fkrr1">
        {{ imageSectionCard.description }}
      </p>
    </div>
  </div>
  <section class="relative pb-24">
    <div class="max-w-6xl mx-auto px-4 sm:px-6 text-center">
      <div class="py-24 md:py-36">
        <h1 class="mb-5 text-6xl font-bold text-white">
          Subscribe to the newsletter
        </h1>
        <h1 class="mb-9 text-2xl font-semibold text-gray-200">
          Stay up to date and get the latest news about URB NFT releases!
        </h1>
        <button
          class="
            inline-flex
            items-center
            px-14
            py-3
            mt-2
            ml-2
            font-medium
            text-black
            transition
            duration-500
            ease-in-out
            transform
            bg-transparent
            border
            rounded-lg
            bg-white
          "
          (click)="subscribe()"
        >
          <span class="justify-center">Subscribe</span>
        </button>
      </div>
    </div>
  </section>
</section>
